{{yield}}


<div class = location-card>
  <div class = row>
    <div class = "col-sm-6">
        <img class = photo-tile src="{{image}}" alt= "{{title}}"/>
    </div>
    <div class = "col-sm-6">
      <div class = "location-details">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>
