{{outlet}}
{{navigation-wrapper}}
<div class = "cover-photo">

<div class = "cover-title program-finder-container">
<div class = "title">Find your program</div>

<div id = "program-finder">
  <form class="program-form">
               <select id="select-degree" {{action 'setDegree' on='change' }}>
                 <option value="">All levels</option>
                 <option value=BACHELOR>Bachelor</option>
                 <option value=MASTER>Master</option>
                 <option value=PHD>PhD</option>
               </select>
               <select id="select-language" {{action 'setLanguage' on='change' }}>
                 <option value="">All languages</option>
                 <option value=ENGLISH>English</option>
                 <option value=BOSNIAN>Bosnian</option>
               </select>
               <select id="select-field" {{action 'setField' on='change' }}>
                 <option value = "">Any field</option>
                {{#each model.fields as |field|}}
                <option value = {{field.id}}>{{field.name}}</option>
                {{/each}}
               </select>
               <button class="program-form-button">Find Program</button>
  </form>

</div>
</div>

{{#each model.response as |program|}}
{{#link-to 'program' program.id}}
{{program-card one_program = program}}
{{/link-to}}

{{else}}
<div class = "no-results">
Sorry, that filter combination has no results.
<br/>
Please try different criteria.
</div>
{{/each}}




</div>

<div class = "popular-locations study-subfield">
<!--

<div class = "study-subtitle">Popular locations</div>

</div>

<div class = "popular-universities study-subfield">

<div class = "study-subtitle">Popular universities</div>
{{#each model.universities.model as |university|}}
{{#link-to "university" university_id}}<h2>{{university.name}}</h2>{{/link-to}}

{{/each}}

-->

</div>
