{{outlet}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{navigation-wrapper}}
<div class = "page-main">

<div class = "container-general">
  <div class = "top-photo">
    <img src= "{{model.university.coverImagePath}}">
  </div>

<div class="container">
<h1>{{model.university.name}}</h1>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#about">About</a></li>
    <li><a data-toggle="tab" href="#programs">Programs</a></li>
    <li><a data-toggle="tab" href="#gallery">Gallery</a></li>
    <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
    <li><a data-toggle="tab" href="#contact">Contact</a></li>
  </ul>

  <div class="tab-content">
    <div id="about" class="tab-pane fade in active">
      <h3>Learn more about {{model.university.name}}</h3>
      <img src =  "{{model.university.profileImagePath}}">
      <p>{{model.university.description}}</p>
    </div>
    <div id="programs" class="tab-pane fade">
      <h3>Study programs offered at {{model.university.name}}</h3>
      <p>List of programs</p>
      <ul>
          {{#each model.programs as |program|}}
          {{#link-to 'program' program.id}}
            <li>{{program.name}}</li>
            {{/link-to}}
          {{/each}}
      </ul>
    </div>
    <div id="gallery" class="tab-pane fade">

    </div>
    <div id="reviews" class="tab-pane fade">

    </div>
    <div id="contact" class="tab-pane fade">
      Address: {{model.university.address}} <br/>
      Phone: {{model.university.phone}}  <br/>
      Email: {{model.university.email}}  <br/>

    </div>
  </div>
</div>

</div>
</div>
